@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gabarito&family=Roboto&display=swap');

/* .place{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding: 4px;
    border-color: gray;
    border-width: 0.1px;
    font-family: 'Gabarito', cursive;
}

.place:hover{
    border-color: blue !important;
}

.place3 :checked {
    border-color: gray;
    border-width: 0.1px;
    font-family: 'Gabarito', cursive;
    margin: 5px;
    padding: 5px;
    height: 20px;
} */

/* Custom CSS styles */
.dropdown{
    min-width: 15em;
    position: relative;
    margin-left: 1em;  
    margin-top: 0.3em;
}

.dropdown *{
    box-sizing: border-box;
}

.selected{
    font-family: 'Gabarito', cursive;
}

.selected-open{
    font-family: 'Gabarito', cursive;
    color: grey;
}

.select{
    height: 3em;
    background: #fff;
    color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px grey solid;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
}

.select-open{
    height: 3em;
    border: 1px grey solid;
    background: #fff;
    color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px grey solid;
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
}

.select:hover{
    border-color: blue;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caret-open{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid grey;
    transition: 0.3s;
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    border: 1px grey solid;
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pinter;
    font-family: 'Gabarito', cursive;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.menu li:hover{
    background: lightpink;
}

.menu-open{
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    border: 1px grey solid;
    border-radius: 0.5em;
    color: black;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    transition: 0.2s;
    z-index: 1;
    display: block;
    opacity: 1;
    font-family: 'Gabarito', cursive;
    cursor: pointer;
}

.item{
    margin-top: 7px;
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 0.3em;
}

.item:hover
{
    background-color: #D2DAFF;
    font-weight:600;
}